<section id="dashboard-view" class="mainbar" data-ng-controller="dashboard as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="widget wviolet">
                        <div data-cc-widget-header="" title="Documents"
                             data-allow-collapse="true"></div>
                        <div class="widget-content text-info">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Abstract</th>
                                        <th>Complete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="t in vm.toDoItems">
                                        <td>{{t.text}}</td>
                                        <td>{{t.abstract}}</td>
                                        <td>{{t.complete}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="widget wviolet">
                        <div data-cc-widget-header title="New Document"></div>
                        <div class="widget-content user">
                            <form role="form">
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input type="text" class="form-control" id="title" placeholder="Enter title" ng-model="vm.documentTitle">
                                    {{title}}
                                </div>
                                <div class="form-group">
                                    <label for="abstract">Abstract</label>
                                    <input type="text" class="form-control" id="abstract" placeholder="Abstract" ng-model="vm.documentAbstract">
                                </div>
                                <button type="submit" class="btn btn-default" ng-click="vm.submit()">Submit</button>
                            </form>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
</section>